.aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 260px;
  background: #508c9b;
  color: #dadada;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) #508c9b;
  scrollbar-width: thin;
}

.sidebarimage {
  /* padding: 15px; */
  margin: 25px;
  width: 195px;
}

.right-container {
  margin-left: 285px;
  /* height: 100vh; */
  /* background-color: gray; */
  /* width: auto; */
}

/* .card-title:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #508c9b;
  position: absolute;
  left: 0;
  top: 0;
} */

.card {
  background-color: #e4e4e4;
  padding: 35px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px;
  width: auto;
  /* border: solid black 0.5px; */
  /* width: auto; */
}

.button-section {
  width: 500px;
}

.btn-portfolio {
  background-color: #508c9b;
  text-align: center;
  border-radius: 4px;
  border: 0cap;
  color: #fafafa;
  padding: 6px;
  margin: 6px;
  width: 175px;
  height: 38px;
}
.btn-portfolio:hover {
  background-color: #758694;
  color: black;
  transform: scale(1.02);
}

.btn-resume {
  background-color: #758694;
  text-align: center;
  border-radius: 4px;
  border: 0cap;
  color: black;
  padding: 6px;
  margin: 6px;
  width: 175px;
  height: 38px;
}
.btn-resume:hover {
  background-color: #508c9b;
  color: #fafafa;
  transform: scale(1.02);
}
