.aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 260px;
  background: #508c9b;
  color: #dadada;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) #508c9b;
  scrollbar-width: thin;
}

.main-section {
  margin-left: 285px;
  /* height: 100vh; */
  /* background-color: gray; */
  /* width: auto; */
}

/* .card-title:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #508c9b;
  position: absolute;
  left: 0;
  top: 0;
} */
