.main-section {
  margin-left: 250px;
  /* background-color: gray; */
  height: 100vh;
  /* width: auto; */
}

.card {
  background-color: rgba(153, 153, 153, 0.3);
  padding: 35px;
  margin: 25px;
  width: auto;
  border-radius: 2px;
  border: solid black 1px;
  box-shadow: 2px 2px 4px;
}
